<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div>
    <%= f.label :route_id %>
    <%= f.select :route_id, Route.all.collect{|c| ["Salida: #{c.ciudad_salida.nombre} - Destino:#{c.ciudad_destino.nombre}", c.id]} %>
  </div>
  <div>
  <%= f.label :pilot_id %>
  <%= f.select :pilot_id, Pilot.all.collect{|c| ["#{c.nombre} #{c.apellido} Codigo:#{c.code}", c.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
