<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre aerolinea:</strong>
  <%= @airplane.nombre_aerolinea %>
</p>

<p>
  <strong>Code:</strong>
  <%= @airplane.code %>
</p>

<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>
